{% extends 'base.html' %}
{% block content %} 
      <div class="w3-display-container" style="width:100%; min-height: 70px;">
        <div class="w3-display-bottomleft w3-container w3-text-black">
          <h2>Ivan Negron Fernandez</h2>
        </div>
      </div>
      <div class="w3-container">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Argentina, Buenos Aires</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ivan12@gmail.com</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>141242422</p>
        <hr>

        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
        <p>Java</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">70%</div>
        </div>
        <p>JavaScript</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
            <div class="w3-center w3-text-white">50%</div>
          </div>
        </div>
        <p>Python</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">35%</div>
        </div>
        <p>Jugar</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">100%</div>
        </div>
        <br>

        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Lenguajes</b></p>
        <p>Ingles</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
        </div>
        <p>Español</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
        </div>
        <p>Andaluz</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
        </div>
        <br>
      </div>
{% endblock %}